.wiki-logo{
    width:150px;
    margin-bottom: 30px;
}
.input-box{
    border-style: solid;
    border-width: 1px;
    padding:7px;
    border-radius: 5px;
}
.image_input{
    padding:20px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
.dynamic{
    padding-top: 20px;
    padding-left: 30px;
}
